# ===== BACKEND =====
# Виртуальное окружение Python
backend/venv/
backend/.venv/
backend/env/

# Файлы окружения
#NOTE - Удалить при реальных проектах
backend/.env
backend/.env.local

# Логи
backend/*.log
backend/logs/

# ===== FRONTEND =====
# Node modules
frontend/node_modules/
frontend/.npm
frontend/.yarn

# Сборка
frontend/dist/
frontend/build/
frontend/.next/

# Кэш
frontend/.nuxt/
frontend/.cache/
frontend/.parcel-cache/

# Файлы окружения
#NOTE - Удалить при реальных проектах
frontend/.env
frontend/.env.local
frontend/.env*.local

# Логи
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ===== ТЕЛЕГРАМ БОТ =====
# Виртуальное окружение Python
telegram-bot/venv/
telegram-bot/.venv/
telegram-bot/env/

# Кэш Python
telegram-bot/__pycache__/
telegram-bot/*/__pycache__/
telegram-bot/*/*/__pycache__/
telegram-bot/*.pyc
telegram-bot/*.pyo
telegram-bot/*.pyd

# Файлы окружения
#NOTE - Удалить при реальных проектах
telegram-bot/.env
telegram-bot/.env.local

# Логи
telegram-bot/*.log
telegram-bot/logs/

# ===== ОБЩЕЕ =====
# Виртуальное окружение
venv

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# БД
*.db

# Системные файлы
.DS_Store
Thumbs.db
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.temp
*.tmp
